@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");

body {
  font-family: "Jacques Francois", serif;
}

.red-color {
  color: #5b0404;
}

.red-bg {
  background-color: #790808;
  color: white;
}

.auth-input {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 4px;
}

/* FOR RESPONSIVE CUSTOM STYLES */

@media (min-width: 1024px) {
  .pink-bg {
    background-color: #ffd3de;
  }
}
