@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");

body {
  font-family: "Jacques Francois", serif;
}

/* Custom Values */

.red-color {
  color: #5b0404;
}

.red-bg {
  background-color: #790808;
  color: white;
}

.shadow {
  box-shadow: 2px 2px 0 rgb(64, 0, 0);
}

.line {
  height: 1px;
  background-color: #5b0404;
}

/* FOR LOGIN/SIGIN */
.auth-input {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 4px;
}

/* NAV LI */
.dropdownli,
.navbarli {
  padding: 3px 0;
  width: 100%;
  border-radius: 5px;
}

.dropdownli:hover {
  background-color: #5b0404;
  color: white;
}

.navbarli {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbarli:hover {
  background-color: #ffd5d5;
  color: #5b0404;
  font-weight: bold;
}

/* Images */
.gallery1 {
  width: 110px;
  height: 110px;
  border-radius: 15px;
  border: 1px solid rgb(255, 220, 226);
  object-fit: cover;
  transition: transform 300ms ease;
}

.gallery1:hover {
  transform: scale(1.05);
}

/* FEEDBACK */
.star {
  width: 15px;
  height: 15px;
}

.starInput {
  width: 25px;
  height: 25px;
  transition: transform 200ms ease;
}

.starInput:hover {
  transform: scale(1.3);
}

.feedbackBtn {
  width: 20px;
  height: 20px;
}

/* FOOTER */
.footerIcon {
  width: 20px;
  height: 20px;
}

.sl {
  width: 30px;
  height: 30px;
}

.footerCont {
  background-color: #ffdfdf;
}

/* SERVICES */
#head {
  background-image: url("assets/images/desktopBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* RESERVATION */

.input-reservation-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.input-reservation-cont label {
  font-weight: bold;
  font-size: 14px;
  width: 40%;
  color: white;
}

.input-reservation {
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  padding: 4px 7px;
  width: 75%;
  box-shadow: 1px 1px 1px black;
  border: 1px solid black;
}
